@font-face {
  font-family: "Ubuntu";
  src: url("/assets/fonts/Ubuntu-Regular.ttf") format("truetype"),
    url("/assets/fonts/Ubuntu-Medium.ttf") format("truetype"),
    url("/assets/fonts/Ubuntu-Bold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: hsla(218, 100%, 97%, 1);
}

main {
  padding: 0 16px;
}

input,
button {
  font-family: inherit;
}

.wrapper {
  position: relative;
  padding-top: 99px;
  margin-bottom: 100px;
}
