.section {
  margin: 0 auto;
  max-width: 500px;
  padding: 32px 24px;

  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, 1);
  box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.1);

  @media only screen and (min-width: 768px) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    width: 100%;
    max-width: 482px;
    padding: 40px 16px 0 32px;

    box-shadow: revert;
    background-color: transparent;
  }
}

.summary_wrapper {
  background-color: hsla(231, 100%, 99%, 1);
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 24px;

  @media only screen and (min-width: 768px) {
    padding: 16px 24px 24px 24px;
    margin-bottom: 25px;
  }
}

.plan_wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid hsla(231, 11%, 63%, 0.2);

  @media only screen and (min-width: 768px) {
    padding-bottom: 24px;
    margin-bottom: 16px;
  }

  h2 {
    color: hsla(213, 96%, 18%, 1);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 3px;

    @media only screen and (min-width: 768px) {
      font-size: 16px;
      margin-bottom: 7px;
    }
  }

  button {
    color: hsla(231, 11%, 63%, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-decoration-line: underline;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: hsla(243, 100%, 62%, 1);
    }
  }

  p {
    color: hsla(213, 96%, 18%, 1);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin-left: auto;

    @media only screen and (min-width: 768px) {
      font-size: 16px;
    }
  }
}

.addons_wrapper {
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 12px;

      @media only screen and (min-width: 768px) {
        margin-bottom: 16px;
      }
    }

    p:first-child {
      color: hsla(231, 11%, 63%, 1);
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }

    p:last-child {
      color: hsla(213, 96%, 18%, 1);
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
  }
}

.total_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;

  p:first-child {
    color: hsla(231, 11%, 63%, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  p:last-child {
    color: hsla(243, 100%, 62%, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;

    @media only screen and (min-width: 768px) {
      font-size: 20px;
    }
  }
}
